body {
    background-color: rgb(149, 221, 224);

}
.container {
 max-width: 600px;
border-radius: 15px;
padding: 0px 30px;
background-color: #ffffff;
box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
margin: 70px auto;
font-family: "DM Serif Text", serif;
}

select {
display: block;
width: 100%;
border-radius: 10px;
padding: 10px;
font-family: "Edu VIC WA NT Beginner", cursive;
font-size: 16px;
font-weight: bold;
}

.city {
    text-align: center;
    padding: 10px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(175, 175, 175);
}

.city:last-child {
    border-bottom: none;
}

.time {
    font-size: 48px;
    font-weight: bold;
}

.am-pm {
    font-size: 5px;
}

.date {
opacity: 0.7;
}

h1 {
font-family: "Fugaz One", sans-serif;
text-align: center;
font-size: 40px;
padding: 5px;
border-radius: 15px;
background-color: rgb(255, 243, 138);
position: absolute;
top: 158px;
left: 324px;
right: 327px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    position: relative;
}
h2 {
margin: 0 0 5px;
font-family: "Fugaz One", sans-serif;
font-size: 30px;

}
footer {
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-size: 12px;
    padding: 20px 0 5px 0;
    opacity: 0.7;
}

a {
    color: rgb(148, 199, 54);
}

a:visited {
color: rgb(21, 184, 192);
}