body {
    background-color: #ffffff;

}

h1 {
font-family: "Fugaz One", sans-serif;
text-align: center;
font-size: 40px;
padding: 5px;
border-radius: 15px;
background-color: rgb(255, 243, 138);
position: absolute;
top: 122px;
left: 315px;
right: 327px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    position: relative;
}

footer {
    text-align: center;
    font-family: "DM Serif Text", serif;
    font-size: 12px;
}